<plugin name='mongodb-tools' version='0.1y' grailsVersion='1.2.0 &gt; *'>
  <author>Mark Priatel</author>
  <authorEmail>mpriatel@gmail.com</authorEmail>
  <title>MongoDB Tools</title>
  <description>\
      This plugin makes working with MongoDB a little bit more groovy by adding several features such as:
      a domain object &lt;-&gt; MongoDB Document mapper, database connection management, a groovy-builder to
      create MongoDB documents.
      </description>
  <documentation>http://grails.org/plugin/mongodb-tools</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
    <resource>com.iolog.mongodbtools.MongoStatusController</resource>
    <resource>com.acme.AnnotatedWidget</resource>
    <resource>com.acme.MappedWidget</resource>
  </resources>
  <dependencies />
  <behavior />
</plugin>